* 
{
    box-sizing: border-box;
}

body 
{
	font-family: "Roboto", sans-serif;
	background: #001333;
    color: #eaeff7;
	overflow-x: hidden;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    position: relative;
    z-index: 10;
    height: 70px;
}

.container {
    display: flex;
    overflow: hidden;
    height: 100vh;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

.left,
.right {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.left::-webkit-scrollbar,
.right::-webkit-scrollbar 
{
    display: none;
}

.left 
{
    width: 50%;
    margin-left: 20px;
}

.right 
{
    width: 50%;
    background: #e1e7f2;
    justify-content: center;
}


h1 
{
	margin: .67em 0;
	color: #e1e7f2;
	text-transform: uppercase;
	font-size: 2.3rem;
	padding-bottom: 2%;
	text-align: center;
	font-family: 'Libre Baskerville', serif;
}

.ques
{
    font-weight: bold;
}

#final_submit
{
    position: fixed;
    bottom: 0;
    right: 0;
}

.right #wrapper  
{
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(8, 65px);
    grid-template-rows: repeat(8, 62px);
    max-height: -webkit-fill-available;
}

img 
{
    width: 100%;
    height: auto;
}

#box
{
    max-height: 100vh;
}

@media only screen and (max-width: 768px)
{
    .right #wrapper  
    {
        display: grid;
        grid-gap: 0;
        grid-template-columns: repeat(8, 30px);
        grid-template-rows: repeat(8, 30px);
        max-height: -webkit-fill-available;
    }
}

@media only screen and (max-width: 425px)
{
    .right #wrapper  
    {
        display: grid;
        grid-gap: 0;
        grid-template-columns: repeat(8, 25px);
        grid-template-rows: repeat(8, 25px);
        max-height: -webkit-fill-available;
    }
}