* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body 
{
	font-family: "Roboto", sans-serif;
	background: #daf2cb;
    background: url(bg.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

h1 
{
	margin: .67em 0;
	color: #a7e5ef;
	text-transform: uppercase;
	font-size: 3.0rem;
	text-align: center;
	font-family: 'Libre Baskerville', serif;
}

.main 
{
	margin: auto;
	font-size: 1em;
	margin-top: 50px;
	position: relative;
	z-index: 1000;
	border-radius: .8em;
	background: #a7e5ef;
	max-width: 600px;
	padding: 28px;
	padding-top: 22px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.rules
{
	text-align: left;
	margin: 20px;
}

#start
{
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	background: #338096;
	border: 0;
	border-radius: .5em;
	margin-top: 5px;
	margin:2px;
	padding: 2%;
	color: #FFFFFF;
	font-size: 1.2em;
	cursor: pointer;
}

.error 
{
	text-align: left;
	font-weight: bold;
	width: 100%;
	grid-column: 1 / 5;
	color: #ed4040;
	margin: 1% auto;
	font-size: 1rem;
}

#start:hover
{
	background: #1a7691;
}
